<div class="banner-screen">
    <div class="banner-screen__bg">
        <div class="banner-screen text">
            <span class="text__location">Санкт-Петербург</span>
            <span class="text__name">Котейка</span>
            <span class="text__tagline">Уютная гостиница для котов и кошек</span>
            <button class="banner-screen__booking">Забронировать
                <img src="/assets/src/img/imgforbtn/paw.svg" alt="" class="banner-screen__img">
            </button>
        </div>
    </div>
</div>