<div class="wrapper">
    <header class="header">
        <div class="header__row">
            <nav class="header__menu menu">
                <div class="menu__body">
                    <ul class="menu__list">
                        <li><a href="" class="menu__link">Почему мы?</a></li>
                        <li><a href="" class="menu__link">Номера</a></li>
                        <li><a href="" class="menu__link">Отзывы</a></li>
                        <li><a href="" class="menu__link">Как нас найти</a></li>
                    </ul>
                </div>
            </nav>
            <div class="header__logo">
                <img src="/assets/build/img/logos/logo1.svg" alt="">
                <img src="/assets/build/img/logos/cat.svg" alt="">
            </div>
        </div>
    </header>