.reviews {
    padding: 152px 0px 152px 98px;
    position: relative;
    background-size: cover;
    background-repeat: no-repeat;
    background-image: url(/assets/src/img/bgpic/reviewspaw.svg);
    background-size: 367px 314px;
    background-position: top right;
    h1{
        color:#1A212F;
        text-align: center;
        font-family: "Rubik";
        font-size: 36px;
        line-height: 43px;
        margin: 0px 0px 70px 0px;
    }
}
.reviewsblocks {
    display: flex;
    justify-content: center;
    align-items: stretch;
		&__block {
            img{
                width: 21px;
            }
            p{
                font-family: "Lato";
            }
            margin-left: 20px;
            z-index: 999;
            width: 470px;
            padding: 35px;
            display: flex;
            flex-direction: row;
            justify-content: space-between;
            align-items: flex-start;
            flex-wrap: wrap;
            background: #FFFFFF;
            box-shadow: 0px 0px 25px rgba(208, 208, 208, 0.25);
            border-radius: 8px;
		}
    

		&__block--name {
            display: flex;
            justify-content: space-between;
            width: 100%;
            margin-top: 25px;
            margin-left: 28px;
            & span{
            font-family: "Lato-Regular";
            font-size: 14px;
            line-height: 17px;
            color: #848484;
            }
		}
    

        &__blockbtns {
            margin-top: 35px;
            display: flex;
            justify-content: space-between;
            align-items: center;
            &--empty{
                flex-basis: 10%;
            }
        
    
        &--inputs > input {
            margin: 0px 12px 0px 0px;
            background: #E1E1E1;
            border: none;
            border-radius: 10px;
            width: 12px;
            height: 12px;
        }
        &--inputs input:first-child{
            background: #FAC663;
        }
    }
    
    &__blcokbtns--arrows > button{
        background: #fff;
        color: #FF7236;
        font-size: 30px;
        cursor: pointer;
        box-shadow: 0px 2px 12px rgba(173, 152, 143, 0.25);
        border-radius: 100%;
        width: 36px;
        height: 36px;
        border: none;
    }
    &__blcokbtns--arrows > button:first-child{
        margin: 0px 10px 0px 0px;
    }

    
        
       
}
